{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div style="padding: 2.5%;">
	<img src="{% static 'images/MAIN.jpg' %}" style=" height: auto; max-height: 60vh">
	<p style="font-size: 18pt; ">Проект выполнен командой разработчиков KIT в составе:</p>
	<ul style="font-size: 18pt; list-style-type: disc">
		<li>Балаболко Елена +380505389012</li>
		<li>Касьянюк Александр +380505389012</li>
		<li>Крохин Игорь +380505389012</li>
		<li>Копецкий Ярослав +380505389012</li>
		<li>Юцык Игорь +380505389012</li>
	</ul>
</div>
{% endblock content %}