{% extends "base.html" %}
{% load staticfiles %}
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/style-modal.css' %}">
        <script>
            var jsonMarkers = JSON.parse("{{ json_markers_string | escapejs }}");
            var jsonCenterId = "{{center}}";
        </script>
        <script src="{% static 'js/initMenu.js' %}"></script>
        <div id="leftLegend">
            <h3 class="bold">Обозначения</h3>
            <center><table>
                <tr style="border-bottom: 1px silver solid">
                    <td><img src="{% static 'images/location.png' %}"></td>
                    <td>Ваше местоположение.</td>
                </tr>
            </table></center>
            <h4>Критерии доступности</h4>
            <table>
                <tr>
                    <td><img src="{% static 'images/Icon1cat.png' %}"></td>
                    <td><b>Первая категория доступности.</b> Объект архитектурно доступен для всех категорий граждан.</td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/Icon2cat.png' %}"></td>
                    <td><b>Вторая категория доступности.</b> Объект архитектурно доступен для всех категорий граждан, за исключением людей с инвалидностью, передвигающихся с помощью кресел колёсных, а также людей с детскими колясками.</td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/Icon3cat.png' %}"></td>
                    <td><b>Третья категория доступности.</b> Объект <b>частично</b> архитектурно доступен для всех категорий граждан.</td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/Icon4cat.png' %}"></td>
                    <td><b>Четвёртая категория доступности.</b> Объект <b>частично</b> архитектурно доступен для всех категорий граждан, за исключением людей с инвалидностью, передвигающихся с помощью кресел колёсных, а также людей с детскими колясками.</td>
                </tr>
            </table>
            <br><h4>Категории учреждений</h4>
            <table>
                <tr>
                    <td><img src="{% static 'images/hospitals.png' %}"></td>
                    <td class="bold">Медицинские учреждения</td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/pharmacies.png' %}"></td>
                    <td class="bold">Аптеки</td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/administrative-building.png' %}"></td>
                    <td class="bold">Административные здания</td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/shops.png' %}"></td>
                    <td class="bold">Магазины</td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/cafe.png' %}"></td>
                    <td class="bold">Места общественного питания</td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/barbershop.png' %}"></td>
                    <td class="bold">Парикмахерские</td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/pawnshops.png' %}"></td>
                    <td class="bold">Ломбарды</td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/transport.png' %}"></td>
                    <td class="bold">Транспорт</td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/traffic-light.png' %}"></td>
                    <td class="bold">Голосовые светофоры</td>
                </tr>
            </table>
        </div>
        <div id="map"></div>
        <a href="#openModalWindow" id="openModalWindow"><h2>Построить маршрут</h2></a>
        <script src="{% static 'js/modal.js' %}"> </script>
        <div id="modal_form">
            <form name="formModal" method="post">
                <input id="checkBox1" type="checkbox">Первая категория.<br>
                <input id="checkBox2" type="checkbox">Вторая категория.<br>
                <input id="checkBox3" type="checkbox">Третья категория.<br>
                <input id="checkBox4" type="checkbox">Четвёртая категория.<br>
                <br>
                <input type="radio" name="radioButton" value="2" checked> <label>Медицинское учреждение</label><br>
                <input type="radio" name="radioButton" value="1"><label>Аптека</label><br>
                <input type="radio" name="radioButton" value="3"><label>Административное здание</label><br>
                <input type="radio" name="radioButton" value="4"><label>Магазин</label><br>
                <input type="radio" name="radioButton" value="5"><label>Место общественного питания</label><br>
                <input type="radio" name="radioButton" value="6"><label>Парикмахерская</label><br>
                <input type="radio" name="radioButton" value="7"><label>Ломбард</label><br>
                <input type="radio" name="radioButton" value="8"><label>Голосовой светофор</label><br>
            </form>
            <br>
            <center><button><a id="modal_close" style="font-size: 14pt;">Построить маршрут до ближайшего</a></button></center>
        </div>
        <div id="overlay"></div>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDROZx9FtIM4xKrrpPlGSwauiPYcbQosuU&callback=initMap" type="text/javascript"></script>
    {% endblock content %}