<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		#map {
        	height: 400px;
        	width: 100%;
        }
	</style>
</head>
<body>
	<h1>Map:</h1>
	<div id="map"></div>

</body>
<script>
      	function initMap() {
      		var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
	        var icons = {
	          	info: {
	            	icon: iconBase + 'info-i_maps.png'
	          	}
	        };

	        var myLatLng = {lat: 30.233, lng: 35.044};

	        var map = new google.maps.Map(document.getElementById('map'), {
	          	zoom: 4,
	          	center: myLatLng
	        });

	        var marker = new google.maps.Marker({
	          	position: myLatLng,
	          	map: map,
	          	title: 'Marker',
	          	icon: icons.info.icon,
	        });
      	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDgaiVFHyiYu3S-AvdLPmhKFnQNE1LNIA&callback=initMap"></script>
</html>