{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="places">
        <div class="cat_place"><h2>Первая категория:</h2>
            {%for marker in markers%}
            {%if marker.cat == 1%}
                <p><a href="{% url 'main' %}">{{marker.name}}</a></p>
            {%endif%}
            {%endfor%}
        </div>
        <div class="cat_place">
            <h2>Вторая категория:</h2>
            {%for marker in markers%}
            {%if marker.cat == 2 %}
                <p><a href="{% url 'main' %}">{{marker.name}}</a></p>
            {%endif%}
            {%endfor%}
        </div>
        <div class="cat_place">
            <h2>Третья категория:</h2>
            {%for marker in markers%}
            {%if marker.cat == 3 %}
                <p><a href="{% url 'main' %}">{{marker.name}}</a></p>
            {%endif%}
            {%endfor%}
        </div>
        <div class="cat_place">
            <h2>Четвертая категория:</h2>
            {%for marker in markers%}
            {%if marker.cat == 4 %}
                <p><a href="{% url 'main' %}">{{marker.name}}</a></p>
            {%endif%}
            {%endfor%}
        </div>
    </div>
{% endblock content %}